@{
    List<Pizza> pizzaCollection = new();
    pizzaCollection.Add(new Pizza("Margherita", "pomodoro, mozzarella", "~/img/pizza1", 10.99F ));
    pizzaCollection.Add(new Pizza("Marinara", "pomodoro, aglio rosmarino", "~/img/pizza2", 7.99F));
    pizzaCollection.Add(new Pizza("Lombarda", "pomodoro, mozzarella, carciofi, grana", "~/img/pizza3", 11.99F));
    pizzaCollection.Add(new Pizza("Pugliese", "pomodoro, mozzarella, capperi, aciughe", "~/img/pizza4", 10.99F));
    

    Layout = "Guest/_Simple_Layout";
    ViewData["Title"] = "Home Page";
}


    <div class="pizza-container container debug">
        <div class="row">
            @foreach(Pizza pizza in pizzaCollection){

                <div class="col-4 debug">
                    <h3>@pizza.Name</h3>
                    <img src="~/img/pizza1.png" class="mb-2"/>
                    <h6>Euro: @pizza.Price</h6>
                    <p>@pizza.Description</p>
                </div>
            }
        </div>
    </div>



