@{
    List<Pizza> pizzaCollection = new();
    pizzaCollection.Add(new Pizza("Margherita", "pomodoro, mozzarella", "/img/pizza1.png", 10.99F ));
    pizzaCollection.Add(new Pizza("Marinara", "pomodoro, aglio rosmarino", "/img/pizza2.png", 7.99F));
    pizzaCollection.Add(new Pizza("Lombarda", "pomodoro, mozzarella, carciofi, grana", "/img/pizza3.png", 11.99F));
    pizzaCollection.Add(new Pizza("Pugliese", "pomodoro, mozzarella, capperi, aciughe", "/img/pizza4.png", 10.99F));
    

    Layout = "Guest/_Layout";
}
    
    <h2 class="mb-3">Menu</h2>
    <div class="pizza-container container">
        <div class="row">
            @foreach(Pizza pizza in pizzaCollection){

                <div class="col-4 p-2 mb-3">
                    
                     <div class="px-1 py-3 debug">
                        <h3>@pizza.Name</h3>
                        <img src="@pizza.Image" class="mb-2"/>

                        <h6>Euro: @pizza.Price</h6>
                        <p>@pizza.Description</p>
                    </div> 
                    
                </div>
                
            }
        </div>
    </div>



