@{

    Layout = "Guest/_Layout";
    string name = "Silvia";
    string surname = "Dugato";

}

<h1>Esercizi:</h1>
    
@*
1. Dichiarare una variabile valorizzandola con il nostro nome.
Dichiarare un'altra variabile valorizzandola con il nostro cognome.
Stampare il nostro nome e cognome all'interno di un tag h2.*@

<h2>es. 1 </h2>
<div class="container debug py-3">
    <p>Stampare nome e cognome:</p>
    <h5>@name @surname</h5>
</div>

@*
1. Dichiarare una variabile valorizzandola con il nostro nome.
Dichiarare un'altra variabile valorizzandola con il nostro cognome.
Stampare il nostro nome e cognome all'interno di un tag h2.*@




